    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
    <header class="nav-bar-header">
        <nav class="nav-bar">
            <ul class="nav-bar-list">
                <li class="nav-bar-item"><a href="/">Shop</a></li>
                <li class="nav-bar-item"><a href="/showCart">Cart</a></li>
                <li class="nav-bar-item"><a href="/contactus">Contact Us</a></li>
                <li class="nav-bar-item"><a href="/admin/adminProducts">Admin Products</a></li>
                <li class="nav-bar-item"><a href="/admin/addProduct">Add Product</a></li>
            </ul>
        </nav>
    </header>
